:root {
  --feature-icon-color: #4e89ae;
  --secondary-color: rgb(188, 4, 5);
  --accent-color: #ed9b40;
  --footer-color: #313638;
  --btn-primary-color: #ed9b40;
  --btn-secondary-color: rgb(248, 246, 233);
  --navbar-color: rgb(250, 235, 214);
  --icons-color: #000;
  --primary-background-color: #ffffff;
  --secundary-background-color: rgb(248, 246, 233);
  --global-font: 'Borel';
}

body {
  font-family: var(--global-font);
}

/*Buttons*/
.btn-primary {
  background-color: var(--btn-secondary-color);
  border-color: var(--btn-primary-color);
  color: var(--btn-primary-color);
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  transition: transform 0.3s;
}

.btn-primary:hover {
  background-color: var(--btn-primary-color);
  border-color: var(--btn-primary-color);
  color: var(--btn-secondary-color);
  transform: translateY(-5px);
}

/*Titles*/
.titles{
  font-family: var(--global-font);
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--secondary-color);
  position: relative;
}

.titles i {
  /*margin-left: 10px; /* Espacio entre el texto y el icono */
  color: var(--icons-color); /* Color del icono */
}

.titles:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: var(--accent-color);
  margin: 15px auto 0;
}

.subtitles{
  font-family: var(--global-font);
}

.subtitles:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: var(--accent-color);
  margin: 15px auto 0;
}


/*Navbar*/
.navbar, footer{
  background-color: var(--navbar-color);
}

.navbar-title {
  font-family: var(--global-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
}

#navbarNav .nav-link {
  font-family: var(--global-font);
  color: var(--icons-color);

}

#navbarNav .nav-link:hover {
  color: var(--accent-color);
}

/*Hero Section*/
.hero-section {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('./../src/assets/images/heroSection/hero.jpg');
  background-size: cover;
  background-position: center;
  color: var(--primary-background-color);
  padding: 100px 0;
  text-align: center;
}

/*About Us Section*/
#about-us-container {
  background-color: var(--secundary-background-color);
  padding: 50px 0;
}

/*Feature Section*/
.feature-box {
  text-align: center;
  padding: 30px 20px;
  border-radius: 10px;
  background: var(--primary-background-color);
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.feature-box:hover {
  transform: translateY(-10px);
}

.feature-icon {
  font-size: 2.5rem;
  color: var(--feature-icon-color);
  margin-bottom: 20px;
}

/*Products*/
#products-container {
  background-color: var(--secundary-background-color);
}

.product-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    margin-bottom: 30px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;       /* Ocupa el 100% del ancho disponible */
  height: auto;      /* Mantiene la proporción de la imagen */
  max-height: 300px; /* Ajusta la altura máxima al contenido */
  height: 300px;  
  overflow: hidden;
}

/*Products > Carousel*/
.carousel-item{
  width: 100%;
  max-height: 500px;
}

.carousel-item img {
  width: 100%;       /* Ocupa el 100% del ancho disponible */
  height: auto;      /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Asegura que toda la imagen sea visible sin recortar */
  max-height: 500px; /* Limita la altura máxima */
}

/*Shipping Container*/
.shipping-rules-container{
  background-color: var(--secundary-background-color);
}

/*Pay Methods*/

/*Contact Form*/
#contact-form-container {
  background-color: var(--secundary-background-color);
  padding: 25px;
  width: 100%;
}

#contact-form {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
}

/*Footer*/
footer {
  background-color: var(--footer-color);
  color: var(--primary-background-color);
  padding: 60px 0 30px;
}

@media (max-width: 576px) {
  .navbar-title {
    font-size: 1rem !important; /* Tamaño reducido para móviles */
    margin-right: auto;
    margin-left: auto;
  }
}
